<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Receive images using flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="alert alert-primary" role="alert">
    Images Received
</div>
<br><br>
<div class="media">
     <img src=" {{url_for('send_image', filename=image_name)}}" class="align-self-center mr-3" alt="Responsive image">
    <div class="media-body">
    </div>
  </div>

</body>
</html>