<!DOCTYPE html>
<html>
<head>
<title>Send Receive images using flask</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

    <strong>File Foto / Gambar :</strong><br>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <input id="file-picker" type="file" name="file" accept="image/*" multiple><br>
            <div id="msg"></div><br>
            <input type="submit" value="Upload!" id="upload-button" class="btn btn-primary">
        </div> 
        
    </div>
    
    
</form>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("File didukung")
            }
            else
            {
                $("#msg").text("File anda tidak didukung")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>